@{
    ViewBag.Title = "Home Page";
}

@section Styles {
    <link href="@Url.Content("~/Content/new.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.min.css")" rel="stylesheet" type="text/css" />

}


<div id="divSeps">

    <table class="auto-style1" border="0" cellpadding="0" cellspacing="0">
        @*<tr>
            <td bgcolor="Black" colspan="3">&nbsp;</td>
        </tr>*@
        <tr>
            <td bgcolor="#FFEEFF">&nbsp;</td>
            <td width="975">
                <img alt="" src="@Url.Content("~/Content/Images/TopBannerASSMCA.jpg")" />
            </td>
            <td bgcolor="#FFEEFF">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#FFEEFF">&nbsp;</td>
            <td>
                <img alt="" class="auto-style2" src="@Url.Content("~/Content/Images/LogoSAMHSACorto.png")" />
            </td>
            <td bgcolor="#FFEEFF">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#FFEEFF">&nbsp;</td>
            <td>

                @Html.Partial("Page_SEPS_DB")

                @if (ViewData["links"].ToString() == "true")
                {
                    <script>
                        $("#divLoading").hide();
                    </script>
                    <hr class="style-four">
                    <div align="center"> @ViewBag.date</div>
                    <br />
                    <div align="center"> @ViewBag.text</div>

                    <br />

                }
                @if (ViewBag.date == "ERROR!")
                {
                    <script>
                        alert('El nombre que utilizó para el archivo, ya existe. Favor de asignar otro nombre.');
                    </script>
                }

            </td>
            <td bgcolor="#FFEEFF">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#FFEEFF">&nbsp;</td>
            <td bgcolor="Silver">&nbsp;</td>
            <td bgcolor="#FFEEFF">&nbsp;</td>
        </tr>

        <tr>
            <br />
            <td bgcolor="#FFEEFF">&nbsp;&nbsp;</td>
            <td>
                <h3 class="ms-standardheader ms-WPTitle" style="text-align: center;">
                    <br />
                    <span>INFORME ANUAL POR SELECCIÓN DE PROGRAMA</span><span id="WebPartCaptionWPQ14"></span>
                </h3>

                <h3 class="ms-standardheader ms-WPTitle" style="text-align: justify;">
                    <br />
                    &nbsp;&nbsp;&nbsp;
                    <span>Presione para accesar al reporte: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="ReportUrl_Performance" href="@Url.Action("ReportTemplate", "Home")" class="btn btn-primary">Generar</a></span>  <span id="WebPartCaptionWPQ14"></span>
                </h3>
            </td>
            <td bgcolor="#FFEEFF">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#FFEEFF">&nbsp;</td>
            <td bgcolor="Silver">&nbsp;</td>
            <td bgcolor="#FFEEFF">&nbsp;</td>
        </tr>
    </table>


</div>


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        
        //$(function () {
        //    $(".datepicker").datepicker({
        //        dateFormat: "mm/dd/yy",
        //        changeMonth: true,
        //        changeYear: true,
        //        defaultDate: null
        //    }).on('change', function () {
        //        var selectedDate = $(this).val();
        //        var todaysDate = new Date().ddmmyyyy();
        //        if (selectedDate < todaysDate) {
        //            alert('Debe seleccionar una fecha antes de la actual');
        //            $(this).val('');
        //          }
        //        });
        //});       

        $(function () {
            $("#start").datepicker({
                numberOfMonths: 1,
                dateFormat: "mm/dd/yy",
                changeMonth: true,
                changeYear: true,
                defaultDate: null,
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getDate() + 1);
                    $("#end").datepicker("option", "minDate", dt);
                }
            });
            $("#end").datepicker({
                numberOfMonths: 1,
                dateFormat: "mm/dd/yy",
                changeMonth: true,
                changeYear: true,
                defaultDate: null,
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getDate() - 1);
                    $("#start").datepicker("option", "maxDate", dt);
                }
            });
        });

        $("#myform").submit(function (e) {
            
            if ($(this).valid()) {
                var sub = confirm("Favor verificar las fechas seleccionadas. ¿Desea continuar?");
                if (!sub) {
                    return false;
                }
                else {
                    $("label[for='lblMsg']").text('Informe Anual files are being generated...');
                    $("#divLoading").show();
                }
            }
        })
       

        function msg() {
            
                $("label[for='lblMsg']").text('TEDS files are being generated...');
                $("#divLoading").show();
           
        }
        function msg2() {
            $("label[for='lblMsg']").text('DONE');
        }

    </script>
}
